{% extends 'base.html.twig' %}

{% block title %}controller_name{% endblock %}

{% block body %}
<h1 class="h1 my-4 font-weight-normal text-center">{{controller_name}}</h1>

<div class="mt-5">
	<a href="{{ path('users_index') }}" class="mt-2 btn btn-primary">Retour</a>
</div>
{% endblock %}